@import 'font';
@import "colors";

/* ******* DISCOVER-ELAINE 2023 BASE START ******* */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6 {
    padding-bottom: 0;
}
html {
  font-size: 16px;
}

body {
  @include regular();
  font-size: 16px;
  color: $es-gray;
}

p {
  @include regular();
  font-size: 16px;
  line-height: 40px;
  color: $es-gray;
}

.post-content a:link,
.post-content a:visited {
  color: $es-blue;
}

sup {
  font-size: 0.7rem;
}

@media all and (max-width: 1024px) {
}
@media all and (max-width: 980px) {
}
@media all and (max-width: 768px) {
}
@media all and (max-width: 576px) {
}
@media all and (max-width: 480px) {
}
@media all and (max-width: 320px) {
}

/* ******* DISCOVER-ELAINE 2023 BASE START ******* */