@import 'font';
@import "colors";

/* ******* DISCOVER-ELAINE 2023 BASE START ******* */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  @include regular();
  font-size: 16px;
  color: $es-gray;
}
h1 {
  @include demi-bold();
  font-size: 30px;
}
h2 {
  @include demi-bold();
  font-size: 28px;
}
h3 {
  @include demi-bold();
  font-size: 24px;
}
h4 {
  @include demi-bold();
  font-size: 21px;
}
h5 {
  @include demi-bold();
  font-size: 18px;
}
p {
  @include regular();
  font-size: 16px;
}

.post-content a:link,
.post-content a:visited {
  color: $es-blue;
}

sup {
  font-size: 0.7rem;
}

/*** Responsive Styles Standard Desktop Only ***/
@media all and (min-width: 1100px) {
  h1 {
    @include demi-bold();
    font-size: 48px;
  }
  h2 {
    @include demi-bold();
    font-size: 33.6px;
    line-height: 2.4rem !important;
  }
  h3 {
    @include demi-bold();
    font-size:28.8px ;
  }
  h4 {
    @include demi-bold();
    font-size: 28px;
  }
  h5 {
    @include demi-bold();
    font-size:20.992px;
  }
  p {
    @include regular();
    font-size:18px;
  }
}

@media all and (max-width: 1024px) {
}
@media all and (max-width: 980px) {
}
@media all and (max-width: 768px) {
}
@media all and (max-width: 576px) {
}
@media all and (max-width: 480px) {
}
@media all and (max-width: 320px) {
}

/* ******* DISCOVER-ELAINE 2023 BASE START ******* */