@import 'font';
@import "colors";

/* ******* DISCOVER-ELAINE 2023 BASE START ******* */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  @include regular($arimo, 1);
  color: $es-gray;
}

h1 {
  @include demi-bold($arimo, 1.875);
}

h2 {
  @include demi-bold($arimo, 1.75);
}
h3 {
  @include demi-bold($arimo, 1.5);
}
h4 {
  @include demi-bold($arimo, 1.3125);
}
h5 {
  @include demi-bold($arimo, 1.125);
}

p {
  @include regular($arimo, 1);
}

.post-content a:link,
.post-content a:visited {
  color: $es-blue;
}

sup {
  font-size: 0.7rem;
}

/*Main top Menu*/
#et-top-navigation {
  nav {
    a {
      &:link {
        @include demi-bold($arimo, 0.675);
      }

      &:visited {
        @include demi-bold($arimo, 0.675);
      }
    }
  }
}
/* END Main top Menu*/

/*** Responsive Styles Standard Desktop Only ***/
@media all and (min-width: 1100px) {
  h1 {
    @include demi-bold($arimo, 3);
  }
  h2 {
    @include demi-bold($arimo, 2.1);
    line-height: 2.4rem !important;
  }
  h3 {
    @include demi-bold($arimo, 1.8);
  }
  h4 {
    @include demi-bold($arimo, 1.75);
  }
  h5 {
    @include demi-bold($arimo, 1.312);
  }
  p {
    @include regular($arimo, 1.125);
  }
}

@media all and (max-width: 1024px) {
}
@media all and (max-width: 980px) {
}
@media all and (max-width: 768px) {
}
@media all and (max-width: 576px) {
}
@media all and (max-width: 480px) {
}
@media all and (max-width: 320px) {
}

/* ******* DISCOVER-ELAINE 2023 BASE START ******* */