/* ******* DISCOVER-ELAINE 2023 COLORS START ******* */

$es-blue: #2493D1;
$es-purple: #6B297D;
$es-gray: #4D596A;
$es-dark-blue: #045398;
$es-light-gray: #E4E6E9;

/* ******* DISCOVER-ELAINE 2023 COLORS START ******* */