/* ******* DISCOVER-ELAINE 2023 COLORS START ******* */

$es-blue: #2493D1;
$es-purple: #6B297D;
$es-purple-opaque: rgba(107, 41, 125, 0.85);
$es-gray: #4D596A;
$es-dark-blue: #045398;
$es-teal: #0E8D97;
$es-light-gray: #E4E6E9;
$es-white: #ffffff;
$es-black: #000000;
$es-button-grey: #707070;
/* ******* DISCOVER-ELAINE 2023 COLORS START ******* */