@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500&family=Roboto:wght@400;500;700&display=swap');
@import "colors";

/* ******* DISCOVER-ELAINE 2023 FONTS START ******* */

$arimo: 'Arimo', sans-serif;
$roboto: 'Roboto', sans-serif;

@mixin demi-bold($fontf, $size) {
  font-family: $fontf;
  font-size: $size + rem !important;
  font-weight: 700 !important;
}

@mixin bold($fontf, $size) {
  font-family: $fontf;
  font-size: $size + rem !important;
  font-weight: 900 !important;
}

@mixin italic($fontf, $size) {
  font-family: $fontf;
  font-size: $size + rem !important;
  font-weight: 400 !important;
}

@mixin regular($fontf, $size) {
  font-family: $fontf;
  font-size: $size + rem !important;
  font-weight: 400 !important;
}

/* ******* DISCOVER-ELAINE 2023 FONTS END ******* */