@import "colors";

$arimo: 'Arimo', sans-serif;
$roboto: 'Roboto', sans-serif;

@mixin demi-bold($fontf, $size) {
  font-family: $fontf;
  font-size: $size + rem !important;
  font-weight: 700 !important;
}

@mixin bold($fontf, $size) {
  font-family: $fontf;
  font-size: $size + rem !important;
  font-weight: 900 !important;
}

@mixin italic($fontf, $size) {
  font-family: $fontf;
  font-size: $size + rem !important;
  font-weight: 400 !important;
}

@mixin regular($fontf, $size) {
  font-family: $fontf;
  font-size: $size + rem !important;
  font-weight: 400 !important;
}
