@import "colors";

/* ******* DISCOVER-ELAINE 2023 FONTS START ******* */

$arimo: 'Arimo', sans-serif;
$roboto: 'Roboto', sans-serif;

@mixin demi-bold() {
  font-family: $arimo;
  font-weight: 700 !important;
}

@mixin bold() {
  font-family: $arimo;
  font-weight: 900 !important;
}

@mixin italic() {
  font-family: $arimo;
  font-weight: 400 !important;
}

@mixin regular() {
  font-family: $arimo;
  font-weight: 400 !important;
}

/* ******* DISCOVER-ELAINE 2023 FONTS END ******* */