@import "../base/colors";
@import "../base/font";

/* ******* MOBILE NAV START ******* */
@media all and (max-width: 767px) {
  .et_fixed_nav.et_show_nav #page-container {
    margin-top: 0 !important;
  }
  .et_fixed_nav #main-header {
    position: fixed !important;
  }
}
/* ******* MOBILE NAV END ******* */

.supper-script-reference p {
  font-size: 0.8rem !important;
}

/* ******* THREE COLUMNS ROW STYLES START ******* */
.base-3-colm {
  .et_pb_column:first-child,
  .et_pb_column:last-child {

  }
  .et_pb_column:nth-child(2) {
    h2, h4, .sub-sub-title {
      color: $es-dark-blue;
    }
    h5 {
      color: $es-purple;
    }
    .sub-sub-title {
      font-weight: 600;
    }
  }
}
@media all and (min-width: 981px) {
  .base-3-colm {
    .et_pb_column:first-child,
    .et_pb_column:last-child {
      width: 14%;
    }
    .et_pb_column:nth-child(2) {
      width: 70%;
    }
    .et_pb_column:first-child {
      margin-right: 20px;
    }
    .et_pb_column:nth-child(2) {
      margin-right: 0;
    }
  }

}
@media all and (max-width: 767px) {
  .base-3-colm {
    .et_pb_column:first-child,
    .et_pb_column:last-child {
    }
    .et_pb_column:nth-child(2) {
      h2 {
        text-align: center;
      }
      h5 {

      }
      .sub-sub-title {

      }
    }
  }
}
/* ******* THREE COLUMNS ROW STYLES END ******* */

/* ******* THREE COLUMNS TITLE ROW START ******* */
.base-3-colm.title-row {
  .et_pb_column:nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
/* ******* THREE COLUMNS TITLE ROW END ******* */

/* ******* THREE COLUMNS WITH 2 ELEMENTS ROW START ******* */
@media all and (min-width: 981px) {
  .base-3-colm.two-elems-middle {
    .et_pb_column:nth-child(2) {
      display: flex;
      justify-content: space-between;
      .et_pb_module {
        width: 48%;
      }
    }
  }
}
/* ******* THREE COLUMNS WITH 2 ELEMENTS ROW END ******* */

/* ******* THREE COLUMNS 5 ICONS ROW START ******* */
.base-3-colm.five-icons-middle {
  .base-row-middle-colm {
    margin-right: 0 !important;
    padding: 0 !important;
    display: flex;
  }
}
@media all and (min-width: 981px) {
  .base-3-colm.five-icons-middle {
    .base-row-middle-colm {
      justify-content: space-between;

      .et_pb_module {
        width: 15%;
      }
    }
  }

}
@media all and (min-width: 768px) and (max-width: 980px) {
  .base-3-colm.five-icons-middle {
    .base-row-middle-colm {
      flex-wrap: wrap;
      .et_pb_module {
        width: 32% !important;
      }
    }
  }

}
@media all and (max-width: 767px) {
  .base-3-colm.five-icons-middle {
    .base-row-middle-colm {
      flex-direction: column;
      .et_pb_module {
        width: 100% !important;
      }
    }
  }

}
/* ******* THREE COLUMNS 5 ICONS ROW END ******* */

/* ******* TWO COLUMNS VIDEO ROW START ******* */
.es-video-row {
  width: 75%;
  padding: 0 !important;
  margin: 40px auto 0;
  box-shadow: 5px 3px 20px -1px #ddd;
  .et_pb_column:last-child {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h3, h4 {
      color: $es-dark-blue;
    }
  }
}
@media all and (max-width: 767px) {
  .es-video-row {
    width: 100%;
  }
}
/* ******* TWO COLUMNS VIDEO ROW END ******* */

/* ******* CTA BUTTON START ******* */
@media all and (max-width: 767px) {
  .et_pb_button_module_wrapper {
    .cta_btn {
      text-align: center;
    }
  }
}
/* ******* CTA BUTTON END ******* */