@import "../base/colors";
@import "../base/font";

/*BASE THREE COLUMNS ROW STYLES*/
.base-3-colm {
  .et_pb_column:first-child,
  .et_pb_column:last-child {

  }
  .et_pb_column:nth-child(2) {
    h2, h4, .sub-sub-title {
      color: $es-dark-blue;
    }
    h5 {
      color: $es-purple;
    }
    .sub-sub-title {
      font-weight: 600;
    }
  }
}

@media all and (min-width: 981px) {

  .base-3-colm {
    .et_pb_column:first-child,
    .et_pb_column:last-child {
      width: 14%;
    }

    .et_pb_column:nth-child(2) {
      width: 70%;
    }

    .et_pb_column:first-child {
      margin-right: 20px;
    }

    .et_pb_column:nth-child(2) {
      margin-right: 0;
    }
  }

}
/* END BASE THREE COLUMNS ROW STYLES*/


//                      ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
/*      BASE THREE COLUMNS TITLE ROW     */
.base-3-colm.title-row {
  .et_pb_column:nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
/*      END BASE THREE COLUMNS TITLE ROW     */


//                      ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
/*      BASE THREE COLUMNS COPY ROW     */
.base-3-colm.copy-row {

}

/*      END BASE THREE COLUMNS COPY ROW     */


//                      ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
/*      BASE THREE COLUMNS with 2 ELEMENTS ROW     */
@media all and (min-width: 981px) {
  .base-3-colm.two-elems-middle {
    .et_pb_column:nth-child(2) {
      display: flex;
      justify-content: space-between;
      .et_pb_module {
        width: 48%;
      }
    }
  }
}

/*    END  BASE THREE COLUMNS with 2 ELEMENTS ROW     */


//                      ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
/*      BASE THREE COLUMNS 5 ICONS ROW     */
.base-3-colm.five-icons-middle {
  .base-row-middle-colm {
    margin-right: 0 !important;
    padding: 0 !important;
    display: flex;
  }
}

@media all and (min-width: 981px) {
  .base-3-colm.five-icons-middle {
    .base-row-middle-colm {
      justify-content: space-between;

      .et_pb_module {
        width: 15%;
      }
    }
  }

}

/*** Responsive Styles Tablet Only ***/
@media all and (min-width: 768px) and (max-width: 980px) {
  .base-3-colm.five-icons-middle {
    .base-row-middle-colm {
      flex-wrap: wrap;
      .et_pb_module {
        width: 32% !important;
      }
    }
  }

}



/*      END BASE THREE COLUMNS 5 ICONS ROW     */

/*** Responsive Styles Standard Desktop Only ***/
@media all and (min-width: 981px) {

}

/*** Responsive Styles Tablet And Below ***/
@media all and (max-width: 980px) {

}

/*** Responsive Styles Tablet Only ***/
@media all and (min-width: 768px) and (max-width: 980px) {

}

/*** Responsive Styles Smartphone Only ***/
@media all and (max-width: 767px) {

}

/*** Responsive Styles Smartphone Portrait ***/
@media all and (max-width: 479px) {

}
