@import "../base/colors";
@import "../base/font";

/* ******* DISCOVER-ELAINE 2023 FORMS START ******* */

div#es-form-section {
    height: 507px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    .et_pb_row {
        max-width: 1300px;
        padding: 50px 0 !important;
        div#hs-form-head {
            margin: 0;
            h2.es-form-heading {
                font-size: 38px;
                line-height: 43px !important;
                text-align: center;
            }
        }
        div#hs-form-subhead {
            p.es-form-subheading {
                font-size: 23px;
                line-height: 43px;
                color: $es-white;
                text-align: center;
            }
        }
    }
}
.hs-form-private {
    background-color: #000;
    fieldset.form-columns-2 {

    }
    fieldset.form-columns-1 {

    }
    div.hs_submit.hs-submit {
        div.hs-field-desc {

        }
        div.actions {
            input.hs-button.primary.large {
                width: 258px;
                height: 60px;
            }
        }
    }
}
@media all and (max-width: 1024px) {
    div#es-form-section {
        height: 420px;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        .et_pb_row {
            max-width: 1300px;
            padding: 50px 0 !important;
            div#hs-form-head {
                margin: 0;
                h2.es-form-heading {
                    font-size: 38px;
                    line-height: 43px !important;
                    text-align: center;
                }
            }
            div#hs-form-subhead {
                p.es-form-subheading {
                    font-size: 23px;
                    line-height: 43px;
                    color: $es-white;
                    text-align: center;
                }
            }
        }
    }
}
@media all and (max-width: 980px) {
    div#es-form-section {
        height: 100%;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        .et_pb_row {
            max-width: 1300px;
            padding: 50px 0 !important;
            div#hs-form-head {
                margin: 0;
                h2.es-form-heading {
                    font-size: 38px;
                    line-height: 43px !important;
                    text-align: center;
                }
            }
            div#hs-form-subhead {
                p.es-form-subheading {
                    font-size: 23px;
                    line-height: 43px;
                    color: $es-white;
                    text-align: center;
                }
            }
        }
    }
}
@media all and (max-width: 768px) {
    div#es-form-section {
        height: 500px;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        .et_pb_row {
            max-width: 1300px;
            padding: 50px 0 !important;
            div#hs-form-head {
                margin: 0;
                h2.es-form-heading {
                    font-size: 38px;
                    line-height: 43px !important;
                    text-align: center;
                }
            }
            div#hs-form-subhead {
                p.es-form-subheading {
                    font-size: 23px;
                    line-height: 43px;
                    color: $es-white;
                    text-align: center;
                }
            }
        }
    }
}
@media all and (max-width: 576px) {
    div#es-form-section {
        height: 100%;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        .et_pb_row {
            max-width: 1300px;
            padding: 50px 0 !important;
            div#hs-form-head {
                margin: 0;
                h2.es-form-heading {
                    font-size: 38px;
                    line-height: 43px !important;
                    text-align: center;
                }
            }
            div#hs-form-subhead {
                p.es-form-subheading {
                    font-size: 23px;
                    line-height: 43px;
                    color: $es-white;
                    text-align: center;
                }
            }
        }
    }
}
@media all and (max-width: 480px) {
}
@media all and (max-width: 320px) {
}

/* ******* DISCOVER-ELAINE 2023 FORMS START ******* */