@import "../base/colors";
@import "../base/font";

/* ******* WP FORM 7 START ******* */
.form-container {
  .fields-holder {
    display: flex;
    justify-content: space-between;

    .form-field {
      width: 48%;

      .input-fld {
        .wpcf7-form-control {
          width: 100%;
          height: 50px;
          color: #707070;
          border: none;
          font-size: 1.4rem;
          padding: 0 0 0 20px;
        }
      }

      .input-check {
        display: flex;
        margin: 20px 0 0;

        .wpcf7-checkbox {
          display: block;

          .wpcf7-list-item {
            display: flex;
            margin: 0;
            align-items: center;

            input {
              width: 32px;
              height: 32px;
            }

            .wpcf7-list-item-label {
              display: flex;
              color: #fff;
              margin: 0 0 0 10px;
            }
          }
        }
      }
    }
  }
  .submit-btn {
    margin: 40px 0 0;
    text-align: center;
    input[type='submit'] {
      width: 258px;
      height: 60px;
      background: $es-blue;
      border: 2px solid $es-blue;
      color: #fff;
      font-size: 24px;
      &:hover  {
        background: #fff;
        color: $es-blue;
      }
    }
  }
}

@media all and (max-width: 1024px) {
}
@media all and (max-width: 767px) {
  .form-container {
    .fields-holder {
      flex-direction: column;

      .form-field {
        width: 100%;
        margin: 0 0 40px;

        .input-fld {
          .wpcf7-form-control {
            width: 100%;
            height: 50px;
            color: #707070;
            border: none;
            font-size: 1.4rem;
            padding: 0 0 0 20px;
          }
        }
      }
    }

    .submit-btn {
      margin: 40px 0 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

  }
}
@media all and (max-width: 576px) {
}
@media all and (max-width: 480px) {
}
@media all and (max-width: 320px) {
}
/* ******* WP FORM 7 END ******* */