@import "../base/colors";
@import "../base/font";

/* ******* DISCOVER-ELAINE 2023 FORMS START ******* */

div#es-form-section {
    max-height: 507px;
    padding: 0;
    .et_pb_row {
        max-width: 1300px;
        padding: 50px 0 !important;
        div#hs-form-head {
            margin: 0;
            h2.es-form-heading {
                font-size: 38px;
                line-height: 43px !important;
                text-align: center;
            }
        }
        div#hs-form-subhead {
            p.es-form-subheading {
                font-size: 23px;
                line-height: 43px;
                color: $es-white;
                text-align: center;
            }
        }
    }
}

@media all and (max-width: 1024px) {
}
@media all and (max-width: 980px) {
}
@media all and (max-width: 767px) {
}
@media all and (max-width: 576px) {
}
@media all and (max-width: 480px) {
}
@media all and (max-width: 320px) {
}

/* ******* DISCOVER-ELAINE 2023 FORMS START ******* */