@import "../base/colors";
@import "../base/font";

/* ******* ELAINE STUDIES PAGE START ******* */

//HERO SECTION
#ES_hero_section {
  h1 {
    text-shadow: 0 0 25px $es-purple;
  }
}
.es-three-studies {
  .studies-link {
    a {
      font-size: 16px;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      width: 100%;
      height: 80px;
      padding: 10px;
      color: #fff;
      background: $es-blue;
      border: 2px solid $es-blue;

      &:hover,
      &:focus {
        color: $es-blue;
        background: #fff;
        border: 2px solid $es-blue;
      }
      .is-closed {
        font-size: 0.7rem;
      }

    }
  }
}

@media all and (min-width: 981px) {
  //HERO SECTION
  #ES_hero_section {
  }
  .three-studies-column:not(:last-child) {
    &:after {
      content: '';
      display: block;
      position: absolute;
      right: -30px;
      top: 10%;
      width: 1px;
      height: 90%;
      background: $es-gray;
    }
  }
  .about-es-one_two {
    .et_pb_column:first-of-type {
      &:after {
        content: '';
        position: absolute;
        right: -30px;
        top: 10%;
        width: 1px;
        height: 90%;
        background: $es-gray;
      }
    }
  }
}

@media all and (max-width: 1024px) {
}
@media all and (max-width: 768px) {
}
@media all and (max-width: 576px) {
}
@media all and (max-width: 480px) {
}
@media all and (max-width: 320px) {
}

/* ******* ELAINE STUDIES PAGE END ******* */