@import "../base/colors";
@import "../base/font";

/*      HOME PAGE       */

/*    END  HOME PAGE       */

/*      ELAINE STUDIES PAGE     */
.es-three-studies {
   .three-studies-link {
     a:link,
     a:visited {
       display: block;
       width: 100%;
       height: 100%;
       color: #fff;
       background: $es-blue;
     }
     a:hover,
     a:focus {
       color: $es-blue;
       background: #fff;
     }
   }
}
/*      END ELAINE STUDIES PAGE     */

/*** Responsive Styles Standard Desktop Only ***/
@media all and (min-width: 1100px) {

}

/*** Responsive Styles Tablet And Below ***/
@media all and (max-width: 980px) {

}

/*** Responsive Styles Tablet Only ***/
@media all and (min-width: 768px) and (max-width: 980px) {

}

/*** Responsive Styles Smartphone Only ***/
@media all and (max-width: 767px) {

}

/*** Responsive Styles Smartphone Portrait ***/
@media all and (max-width: 479px) {

}
