@import "../base/colors";
@import "../base/font";

/* ******* DISCOVER-ELAINE 2023 NOW PRIVACY POLICY PAGE START ******* */

div#et-main-area {
    div#main-content {
        article.page {
            div.entry-content {
                div.et-l {
                    div.et_builder_inner_content {
                        div#privacy-hero-section {
                            height: 264px;
                            display: flex;
                            justify-content: flex-start;
                            align-items: center;
                            div.es-row {
                                padding: 0;
                                div.es-col {
                                    h1.hero-h1 {
                                        @include bold();
                                        font-size: 70px;
                                        line-height: 90px;
                                        color: $es-purple;
                                        padding-bottom: 0px;
                                    }
                                }
                            }
                        }
                        div#privacy-section {
                            padding: 0;
                            div.es-glossary-content-row {
                                div.es-col {
                                    h2.h2-heading {
                                        padding-top: 60px;
                                        padding-bottom: 15px;
                                        @include bold();
                                        font-size: 30px;
                                        line-height: 55px;
                                        color: $es-dark-blue;
                                    }
                                    p.es-p {
                                        @include regular();
                                        font-size: 24px;
                                        line-height: 40px;
                                        color: $es-gray;
                                        a.privacy-link {

                                        }
                                    }
                                    ul.privacy-list {
                                        margin-left: 1em;
                                        padding: 0 0 1em 2em;
                                        @include regular();
                                        font-size: 24px;
                                        line-height: 40px;
                                        color: $es-gray;
                                        li.privacy-list-item {
                                            @include regular();
                                            font-size: 24px;
                                            line-height: 40px;
                                            color: $es-gray;
                                            padding-bottom: 1.125em;
                                        }
                                    }
                                }
                            }
                        }
                        div#section-blue-wave {
                            margin-top: 5em;
                            margin-bottom: 8em;
                        }
                    }
                }
            }
        }
    }
}

@media all and (max-width: 1024px) {
}
@media all and (max-width: 980px) {
}
@media all and (max-width: 767px) {
}
@media all and (max-width: 576px) {
}
@media all and (max-width: 480px) {
}
@media all and (max-width: 320px) {
}

/* ******* DISCOVER-ELAINE 2023 NOW PRIVACY POLICY PAGE END ******* */