@import "../base/colors";
@import "../base/font";

/* ******* DISCOVER-ELAINE 2023 RESOURCES PAGE START ******* */

div#et-main-area {
    div#main-content {
        article.page {
            div.entry-content {
                div.et-l {
                    div.et_builder_inner_content {
                        div#resources-hero-section {
                            height: 264px;
                            display: flex;
                            justify-content: flex-start;
                            align-items: center;
                            div.es-row {
                                padding: 0;
                                div.es-col {
                                    h1.hero-h1 {
                                        @include bold();
                                        font-size: 70px;
                                        line-height: 90px;
                                        color: $es-purple;
                                        padding-bottom: 0px;
                                    }
                                }
                            }
                        }
                        div#glossary-section {
                            padding: 0;
                            div.es-glossary-title-row {
                              display: flex;
                              align-items: center;

                                .es-col.one {
                                    margin-right: 45px;
                                }

                                div#glossary-title-icon {
                                    img {
                                        margin-right: 0;
                                    }
                                }
                                div.es-col.two {
                                    div#glossary-title {
                                        h2.h2-heading {
                                            @include bold();
                                            font-size: 50px;
                                            color: $es-dark-blue;
                                            padding:0;
                                        }
                                    }
                                }
                                div.es-col.three {

                                }
                            }

                            div#glossary-subhead {
                                h4.h4-heading {
                                    font-size: 32px;
                                    @include bold();
                                    color: $es-dark-blue;
                                    padding-bottom:0;
                                    margin-bottom:20px;
                                }
                            }

                            div.es-glossary-content-row {
                                h5.glossary-h5 {
                                    padding-top: 60px;
                                    padding-bottom: 15px;
                                    @include bold();
                                    font-size: 24px;
                                    line-height: 40px;
                                    color: $es-blue;
                                }
                                h5.glossary-h5:first-of-type {
                                  padding-top:0;
                                }
                                
                                .glossary-paragraph {
                                    font-size: 24px;
                                    line-height: 40px;
                                }

                                div.es-col {
                                    p.es-p {
                                        @include regular();
                                        font-size: 24px;
                                        line-height: 40px;
                                        color: $es-gray;
                                    }
                                }
                            }
                        }
                        div#section-blue-wave {
                        }
                        div#media-section {

                            padding-top:0px;

                            div.es-media-title-row {
                                display: flex;
                                align-items: center;

                                .es-col.one {
                                    margin-right: 45px;
                                }

                                div#glossary-title-icon {
                                    img {
                                        margin-right: 0;
                                    }
                                }
                            }

                            #media-title {
                                h2.h2-heading {
                                    @include bold();
                                    font-size: 50px;
                                    color: $es-dark-blue;
                                    padding:0;
                                }
                            }

                            div.es-video-row {

                                margin-bottom: 80px;

                                h3.h3-heading {
                                    @include bold();
                                    font-size: 40px;
                                    color: $es-dark-blue;
                                    padding:0;
                                    margin-bottom: 35px;
                                }

                                p {
                                    font-size: 24px;
                                    line-height: 40px;
                                }

                                img {
                                    
                                    height:390px;
                                    object-fit: cover;
                                }
                            }
                        }

                    }
                }
            }
        }
    }
}

@media all and (max-width: 1024px) {
}
@media all and (max-width: 980px) {
}
@media all and (max-width: 768px) {
}
@media all and (max-width: 576px) {
}
@media all and (max-width: 480px) {
}
@media all and (max-width: 320px) {
}

/* ******* DISCOVER-ELAINE 2023 RESOURCES PAGE END ******* */