@import "../base/colors";
@import "../base/font";

/* ******* DISCOVER-ELAINE 2023 RESOURCES PAGE START ******* */

body.resources-page {
    div#et-main-area {
        div#main-content {
            article.page {
                div.entry-content {
                    div.et-l {
                        div.et_builder_inner_content {
                            div#resources-hero-section {
                                div.es-row {
                                    padding: 0;
                                    h1.hero-h1-alt {
                                    }
                                }
                            }
                            div#glossary-section {
                                padding: 50px 0 0 0;
                                div#es-glossary-title-row {
                                display: flex;
                                align-items: center;
                                    div.es-col.one {
                                        margin-right: 0;
                                        width: 15%;
                                            div#glossary-title-icon {
                                            text-align: left;
                                            img {
                                                margin-right: 0;
                                            }
                                        }
                                    }
                                    div.es-col.two {
                                        width: 85%;
                                        div#glossary-title {
                                            h2.h2-heading {
                                                padding:0;
                                            }
                                        }
                                    }
                                }
                                div#glossary-subhead {
                                    h4.h4-heading {
                                        font-size: 32px;
                                        @include bold();
                                        color: $es-dark-blue;
                                        padding-bottom:0;
                                        margin-bottom:20px;
                                    }
                                }
                                div#es-glossary-content-row {
                                    h5.h5-heading {
                                        padding-top: 50px;
                                        padding-bottom: 10px;
                                    }
                                    h5.h5-heading:first-of-type {
                                    padding-top:0;
                                    }
                                    p.es-p {
                                        padding-bottom: 0;
                                    }
                                }
                            }
                            div#section-blue-wave {
                            }
                            div#media-section {
                                padding-top:0px;
                                padding-bottom: 150px;
                                div#es-media-title-row {
                                    display: flex;
                                    align-items: center;
                                    padding-bottom: 15px;
                                    div.es-col.one {
                                        width: 15%;
                                        margin-right: 0px;
                                        div#media-title-icon {
                                            text-align: left;
                                            img {
                                                margin-right: 0;
                                            }
                                        }
                                    }
                                    div.es-col.two {
                                        width: 85%;
                                        padding: 0;
                                        div#media-title {
                                            h2.h2-heading {
                                                padding:0;
                                            }
                                        }
                                    }
                                }
                                div.es-video-row {
                                    min-height: 414px;
                                    margin-bottom: 80px;
                                    padding: 0 !important;
                                    margin: 50px auto 0;
                                    box-shadow: 5px 3px 20px -1px #ddd;
                                    max-width: 1540px;
                                    div.es-col.one {
                                        width: 40%;
                                        padding: 0;
                                        margin: 0;
                                        div.es-video-image {
                                            height: 100%;
                                            width: 100%;
                                            padding: 0;
                                            margin: 0;
                                            div.et_pb_text_inner {
                                                height: 100%;
                                                width: 100%;
                                                padding: 0;
                                                margin: 0;
                                                p.vp-img-paragraph {
                                                    height: 100%;
                                                    width: 100%;
                                                    padding: 0;
                                                    margin: 0;
                                                    a.vp-s.vp-yt-type.noExitNotifier {
                                                        height: 100%;
                                                        width: 100%;
                                                        display: block;
                                                        padding: 0;
                                                        margin: 0;
                                                        img.vp-img {
                                                            height: 100%;
                                                            object-fit: cover;
                                                            width: 100%;
                                                            padding: 0;
                                                            margin: 0;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                    div.es-col.two {
                                        width: 60%;
                                        div.es-video-h3 {
                                            padding: 20px 0;
                                            h3.h3-heading {
                                                padding:0;
                                                margin-bottom: 0px;
                                            }
                                        }
                                        a.es-btn.w-290 {
                                            margin-top: 25px;
                                        }
                                    }
                                }
                                .et_pb_column:last-child {
                                    padding: 0 145px 0 50px;
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: center;
                                }
                            }

                        }
                    }
                }
            }
        }
    }
}

@media all and (max-width: 1024px) {
    body.resources-page {
        div#et-main-area {
            div#main-content {
                article.page {
                    div.entry-content {
                        div.et-l {
                            div.et_builder_inner_content {
                                div#resources-hero-section {
                                    div.es-row {
                                        padding: 0;
                                        h1.hero-h1-alt {
                                        }
                                    }
                                }
                                div#glossary-section {
                                    padding: 50px 0 0 0;
                                    div#es-glossary-title-row {
                                    display: flex;
                                    align-items: center;
                                        div.es-col.one {
                                            margin-right: 0;
                                            margin-bottom: 0;
                                            width: 25%;
                                                div#glossary-title-icon {
                                                text-align: left;
                                                img {
                                                    margin-right: 0;
                                                }
                                            }
                                        }
                                        div.es-col.two {
                                            width: 75%;
                                            div#glossary-title {
                                                h2.h2-heading {
                                                    padding:0;
                                                }
                                            }
                                        }
                                    }
                                    div#glossary-subhead {
                                        h4.h4-heading {
                                            font-size: 32px;
                                            @include bold();
                                            color: $es-dark-blue;
                                            padding-bottom:0;
                                            margin-bottom:20px;
                                        }
                                    }
                                    div#es-glossary-content-row {
                                        h5.h5-heading {
                                            padding-top: 50px;
                                            padding-bottom: 10px;
                                        }
                                        h5.h5-heading:first-of-type {
                                        padding-top:0;
                                        }
                                        p.es-p {
                                            padding-bottom: 0;
                                        }
                                    }
                                }
                                div#section-blue-wave {
                                }
                                div#media-section {
                                    padding-top:0px;
                                    padding-bottom: 150px;
                                    div#es-media-title-row {
                                        display: flex;
                                        align-items: center;
                                        padding-bottom: 15px;
                                        div.es-col.one {
                                            width: 25%;
                                            margin-right: 0px;
                                            margin-bottom: 0;
                                            div#media-title-icon {
                                                text-align: left;
                                                img {
                                                    margin-right: 0;
                                                }
                                            }
                                        }
                                        div.es-col.two {
                                            width: 75%;
                                            padding: 0;
                                            div#media-title {
                                                h2.h2-heading {
                                                    padding:0;
                                                }
                                            }
                                        }
                                    }
                                    div.es-video-row {
                                        max-width: 1000px;
                                        flex-direction: column;
                                        div.es-col.one {
                                            height: 100%;
                                            width: 100%;
                                            padding: 0;
                                            margin: 0;
                                            div.es-video-image {
                                                height: 100%;
                                                width: 100%;
                                                padding: 0;
                                                margin: 0;
                                                div.et_pb_text_inner {
                                                    height: 100%;
                                                    width: 100%;
                                                    padding: 0;
                                                    margin: 0;
                                                    p.vp-img-paragraph {
                                                        height: 100%;
                                                        width: 100%;
                                                        padding: 0;
                                                        margin: 0;
                                                        a.vp-s.vp-yt-type.noExitNotifier {
                                                            height: 100%;
                                                            width: 100%;
                                                            display: block;
                                                            padding: 0;
                                                            margin: 0;
                                                            img.vp-img {
                                                                height: 100%;
                                                                object-fit: cover;
                                                                width: 100%;
                                                                padding: 0;
                                                                margin: 0;
                                                                max-width: 100%;
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                        div.es-col.two {
                                            width: 100%;
                                            height: 100%;
                                            min-height: 370px;
                                            div.es-video-h3 {
                                                padding: 0 0 20px 0;
                                                h3.h3-heading {
                                                    padding:0;
                                                    margin-bottom: 0px;
                                                }
                                            }
                                            a.es-btn.w-290 {
                                                margin-top: 25px;
                                            }
                                        }
                                    }
                                    .et_pb_column:last-child {
                                        padding: 60px;
                                        display: flex;
                                        flex-direction: column;
                                        justify-content: center;
                                    }
                                }

                            }
                        }
                    }
                }
            }
        }
    }
}
@media all and (max-width: 980px) {
}
@media all and (max-width: 768px) {
    body.resources-page {
        div#et-main-area {
            div#main-content {
                article.page {
                    div.entry-content {
                        div.et-l {
                            div.et_builder_inner_content {
                                div#resources-hero-section {
                                    div.es-row {
                                        padding: 0;
                                        div.es-col {
                                            h1.hero-h1-alt {
                                            }
                                        }
                                    }
                                }
                                div#glossary-section {
                                    padding: 50px 0 0 0;
                                    div#es-glossary-title-row {
                                    display: flex;
                                    align-items: center;
                                    flex-direction: column;

                                        div.es-col.one {
                                            width: 100%;
                                            margin-right: 0px;
                                            margin-bottom: 25px;
                                            div#glossary-title-icon {
                                                text-align: center;
                                                img {
                                                margin-right: 0;
                                                    width:120px;
                                                    height:120px;
                                                }
                                            }
                                        }
                                        div.es-col.two {
                                            width: 100%;
                                            div#glossary-title {
                                                h2.h2-heading {
                                                    padding:0;
                                                    text-align: center;
                                                }
                                            }
                                        }
                                    }
                                    div#glossary-subhead {
                                        h4.h4-heading {
                                            font-size: 26px;
                                            line-height: 36px;
                                            @include bold();
                                            color: $es-dark-blue;
                                            padding-bottom:0;
                                            margin-bottom:20px;
                                        }
                                    }
                                    div#es-glossary-content-row {
                                        h5.h5-heading {
                                            padding-top: 40px;
                                            padding-bottom: 0px;
                                            @include bold();
                                            font-size: 20px;
                                            line-height: 35px;
                                            color: $es-blue;
                                        }
                                        h5.h5-heading:first-of-type {
                                        padding-top:0;
                                        }
                                        div.es-col {
                                            p.es-p {
                                            }
                                        }
                                    }
                                }
                                div#section-blue-wave {
                                    margin: 70px 0;
                                }
                                div#media-section {
                                    padding:0px;
                                    div#es-media-title-row {
                                        display: flex;
                                        align-items: center;
                                        flex-direction: column;
                                        div.es-col.one {
                                            width: 100%;
                                            margin-right: 0px;
                                            margin-bottom: 25px;
                                                div#media-title-icon {
                                                text-align: center;
                                                img {
                                                    margin-right: 0;
                                                    width:120px;
                                                    height:120px;
                                                }
                                            }
                                        }
                                    }
                                    div.es-col.two {
                                        width: 100%;
                                        div#media-title {
                                            h2.h2-heading {
                                                padding:0;
                                                text-align: center;
                                            }
                                        }
                                    }
                                    div.es-video-row {
                                        height:auto;
                                        margin-bottom: 80px;
                                        max-width: 1000px;
                                        width: 80%;
                                        div.es-col.one {
                                            div.es-video-image {
                                                height: 100%;
                                                padding: 0;
                                                margin: 0;
                                                div.et_pb_text_inner {
                                                    height: 100%;
                                                    width: 100%;
                                                    padding: 0;
                                                    margin: 0;
                                                    p.vp-img-paragraph {
                                                        height: 100%;
                                                        padding: 0;
                                                        margin: 0;
                                                        a.vp-s.vp-yt-type.noExitNotifier {
                                                            height: 100%;
                                                            display: block;
                                                            padding: 0;
                                                            margin: 0;
                                                            img.vp-img {
                                                                height: 100%;
                                                                object-fit: cover;
                                                                width: auto;
                                                                padding: 0;
                                                                margin: 0;
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                        div.es-col.two {
                                            div.es-video-h3 {
                                                h3.h3-heading {
                                                    padding: 0;
                                                    margin-bottom: 35px;
                                                    text-align: center;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@media all and (max-width: 576px) {
    body.resources-page {
        div#et-main-area {
            div#main-content {
                article.page {
                    div.entry-content {
                        div.et-l {
                            div.et_builder_inner_content {
                                div#resources-hero-section {
                                    div.es-row {
                                        padding: 0;
                                        div.es-col {
                                            h1.hero-h1-alt {
                                            }
                                        }
                                    }
                                }
                                div#glossary-section {
                                    padding: 50px 0 0 0;
                                    div#es-glossary-title-row {
                                    display: flex;
                                    align-items: center;
                                    flex-direction: column;
                                        padding-bottom: 0;
                                        div.es-col.one {
                                            margin-right: 0px;
                                                div#glossary-title-icon {
                                                img {
                                                    margin-right: 0;
                                                }
                                            }
                                        }
                                        div.es-col.two {
                                            div#glossary-title {
                                                h2.h2-heading {
                                                    padding:0;
                                                    text-align: center;
                                                }
                                            }
                                        }
                                    }

                                    div#glossary-subhead {
                                        h4.h4-heading {
                                            font-size: 26px;
                                            line-height: 36px;
                                            @include bold();
                                            color: $es-dark-blue;
                                            padding-bottom:0;
                                            margin-bottom:20px;
                                        }
                                    }

                                    div#es-glossary-content-row {
                                        h5.h5-heading {
                                            padding-top: 40px;
                                            padding-bottom: 0px;
                                            @include bold();
                                            font-size: 20px;
                                            line-height: 35px;
                                            color: $es-blue;
                                        }
                                        h5.h5-heading:first-of-type {
                                        padding-top:0;
                                        }
                                        div.es-col {
                                            p.es-p {
                                            }
                                        }
                                    }
                                }
                                div#section-blue-wave {
                                    margin-top: 2em !important;
                                    margin-bottom: 0em !important;
                                }
                                div#media-section {
                                    padding:0px;
                                    div#es-media-title-row {
                                        display: flex;
                                        align-items: center;
                                        flex-direction: column;
                                        padding-bottom: 0;
                                        .es-col.one {
                                            margin-right: 0px;
                                        }
                                        div.media-title-icon {
                                            text-align: left;
                                            img {
                                                margin-right: 0;
                                                width:120px;
                                                height:120px;
                                            }
                                        }
                                    }
                                    div#media-title {
                                        h2.h2-heading {
                                            padding:0;
                                            text-align: center;
                                        }
                                    }
                                    div#video-row-3 {
                                        div.es-col.one {

                                        }
                                        div.es-col.two {
                                            padding: 40px 0 0px 0;
                                            min-height: 100%;
                                            div.es-video-paragraph {
                                                padding: 0 30px 0 30px;
                                            }
                                        }
                                    }
                                    div.es-video-row {
                                        height:auto;
                                        margin-bottom: 80px;
                                        div.es-col.one {
                                            div.es-video-image {
                                                height: 100%;
                                                padding: 0;
                                                margin: 0;
                                                div.et_pb_text_inner {
                                                    height: 100%;
                                                    width: 100%;
                                                    padding: 0;
                                                    margin: 0;
                                                    p.vp-img-paragraph {
                                                        height: 100%;
                                                        padding: 0;
                                                        margin: 0;
                                                        a.vp-s.vp-yt-type.noExitNotifier {
                                                            height: 100%;
                                                            display: block;
                                                            padding: 0;
                                                            margin: 0;
                                                            img.vp-img {
                                                                height: 100%;
                                                                object-fit: cover;
                                                                width: auto;
                                                                padding: 0;
                                                                margin: 0;
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                        div.es-col.two {
                                            min-height: 270px;
                                            padding: 40px 30px;
                                            div.es-video-h3 {
                                                padding: 0px;
                                                text-align: center;
                                                    h3.h3-heading {
                                                        padding:0;
                                                        margin-bottom: 15px;
                                                    }
                                            }
                                        }
                                        img {
                                            width:100%;
                                            height:auto;
                                        }
                                    }
                                    .et_pb_column:last-child {
                                        padding: 40px;
                                    }
                                }

                            }
                        }
                    }
                }
            }
        }
    }
}
@media all and (max-width: 480px) {
}
@media all and (max-width: 320px) {
}
/* ******* DISCOVER-ELAINE 2023 RESOURCES PAGE END ******* */