@import "../base/colors";
@import "../base/font";

/* ******* DISCOVER-ELAINE 2023 RESOURCES PAGE START ******* */

div#et-main-area {
    div#main-content {
        article.page {
            div.entry-content {
                div.et-l {
                    div.et_builder_inner_content {
                        div#resources-hero-section {
                            height: 264px;
                            display: flex;
                            justify-content: flex-start;
                            align-items: center;
                            div.es-row {
                                padding: 0;
                                div.es-col {
                                    h1.hero-h1 {
                                        @include bold();
                                        font-size: 70px;
                                        line-height: 90px;
                                        color: $es-purple;
                                        padding-bottom: 0px;
                                    }
                                }
                            }
                        }
                        div#glossary-section {
                            padding: 0;
                            div.es-glossary-title-row {
                                div.es-col.one {
                                    div#glossary-title-icon {
                                        img {

                                        }
                                    }

                                }
                                div.es-col.two {
                                    div#glossary-title {
                                        h2.h2-heading {

                                        }
                                    }
                                }
                                div.es-col.three {

                                }
                            }
                            div.es-glossary-content-row {
                                div.es-col {
                                    h5.glossary-h5 {
                                        padding-top: 60px;
                                        padding-bottom: 15px;
                                        @include bold();
                                        font-size: 30px;
                                        line-height: 55px;
                                        color: $es-dark-blue;
                                    }
                                    p.es-p {
                                        @include regular();
                                        font-size: 24px;
                                        line-height: 40px;
                                        color: $es-gray;
                                    }
                                }
                            }
                        }
                        div#section-blue-wave {
                        }
                    }
                }
            }
        }
    }
}

@media all and (max-width: 1024px) {
}
@media all and (max-width: 980px) {
}
@media all and (max-width: 768px) {
}
@media all and (max-width: 576px) {
}
@media all and (max-width: 480px) {
}
@media all and (max-width: 320px) {
}

/* ******* DISCOVER-ELAINE 2023 RESOURCES PAGE END ******* */