@import "../base/colors";
@import "../base/font";

/* ******* DISCOVER-ELAINE 2023 FONT STYLES START ******* */

h1.hero-h1 {
    @include bold();
    font-size: 60px;
    line-height: 64px !important;
    margin-top: 20px;
    margin-bottom: 30px;
    letter-spacing: 0px;
}
h1.hero-h1-alt {
    @include bold();
    font-size: 70px;
    line-height: 70px !important;
    color: $es-purple;
    padding: 0px;
    margin: 0px;
    letter-spacing: 0px;
}
h1.h1-heading {
    text-align: left;
    color: $es-dark-blue;
    @include bold();
    font-size: 60px;
    line-height: 60px !important;
    letter-spacing: 0px;
    &.center {
        text-align: left;
    }
}
h2.h2-heading-icon {
    text-align: center;
    color: $es-purple;
    @include bold();
    font-size: 75px;
    line-height: 40px !important;
    padding: 40px 0 0 0;
    letter-spacing: 0px;
}
h2.h2-heading {
    text-align: left;
    color: $es-dark-blue;
    @include bold();
    font-size: 60px;
    line-height: 60px !important;
    letter-spacing: 0px;
    &.center {
        text-align: center;
    }
    &.teal {
        color: $es-teal;
    }
}
h2.h2-heading-alt {
    text-align: left;
    color: $es-dark-blue;
    @include bold();
    font-size: 30px;
    line-height: 55px !important;
    letter-spacing: 0px;
}
h3.h3-heading-icon {
    text-align: left;
    color: $es-purple;
    @include bold();
    font-size: 40px;
    line-height: 50px !important;
    letter-spacing: 0px;
}
h3.h3-heading {
    text-align: left;
    color: $es-dark-blue;
    @include bold();
    font-size: 40px;
    line-height: 50px !important;
    letter-spacing: 0px;
    &.center {
        text-align: center;
    }
}
h3.h3-heading-equals {
    text-align: left;
    color: $es-purple;
    @include bold();
    font-size: 40px;
    line-height: 30px !important;
    letter-spacing: 0px;
    &.center {
        text-align: center;
    }
}
h3.h3-heading-nr {
    text-align: left;
    color: $es-dark-blue;
    @include bold();
    font-size: 24px;
    line-height: 40px !important;
    letter-spacing: 0px;
}
h4.h4-heading {
    text-align: left;
    @include bold();
    color: $es-gray;
    letter-spacing: 0px;
    font-size: 24px;
    line-height: 55px !important;
}
h4.h4-heading.teal {
    text-align: center;
    @include bold();
    color: $es-teal;
    letter-spacing: 0px;
    font-size: 28px;
    line-height: 30px !important;
}
h5.h5-heading {
    text-align: left;
    color: $es-blue;
    @include bold();
    font-size: 24px;
    line-height: 40px !important;
    letter-spacing: 0px;
}
h6.h6-heading {
    text-align: left;
    color: $es-dark-blue;
    @include bold();
    font-size: 60px;
    line-height: 60px !important;
    letter-spacing: 0px;
}

p.es-p {
    text-align: left;
    color: $es-gray;
    @include regular();
    font-size: 24px;
    line-height: 40px  !important;
    a {
        @include bold();
        text-decoration: underline;
        color: $es-blue;
    }
    a.es-paragraph-link {
        @include bold();
        text-decoration: underline;
        color: $es-blue;
    }
    strong {
        @include bold();
    }
    &.white {
        color: $es-white;
    }
}
ul.privacy-list,
li.privacy-list-item {
    color: $es-gray;
    @include regular();
    font-size: 24px;
    line-height: 40px  !important;
}
p.es-p.center {
    text-align: center;
}
p.refs {
    @include regular();
    font-size: 20px !important;
    line-height: 30px !important;
}
p.es-p.center {
    text-align: center;
}

@media all and (max-width: 1024px) {
    h2.h2-heading {
        font-size: 55px;
        line-height: 55px !important;
    }
    h1.hero-h1-alt {
        font-size: 60px;
        line-height: 60px !important;
        padding: 0px;
        margin: 0px;
    }
    h2.h2-heading-icon {
        font-size: 70px;
    }
    h3.h3-heading {
        font-size: 35px;
        line-height: 40px !important;
    }
    h3.h3-heading-icon {
        font-size: 32px;
        line-height: 40px !important;
    }
    h4.h4-heading {
        font-size: 23px;
        line-height: 38px !important;
    }
    h5.h5-heading {
        font-size: 23px;
        line-height: 38px !important;
    }
    p.es-p {
        font-size: 23px;
        line-height: 38px  !important;
    }
    ul.privacy-list,
    li.privacy-list-item {
        font-size: 23px;
        line-height: 38px  !important;
    }
}
@media all and (max-width: 980px) {
    h1.hero-h1 {
        font-size: 48px;
        line-height: 52px !important;
        margin-top: 20px;
    }
    h1.hero-h1-alt {
        font-size: 50px;
        line-height: 50px !important;
    }
    h2.h2-heading {
        font-size: 48px;
        line-height: 48px !important;
    }
    h2.h2-heading-alt {
        font-size: 25px;
        line-height: 45px !important;
    }
    h2.h2-heading-icon {
        font-size: 60px;
        line-height: 40px  !important;
    }
    h3.h3-heading {
        font-size: 32px;
        line-height: 40px !important;
    }
    h4.h4-heading {
        font-size: 22px;
        line-height: 37px !important;
    }
    h5.h5-heading {
        font-size: 22px;
        line-height: 37px !important;
    }
    p.es-p {
        font-size: 22px;
        line-height: 37px  !important;
    }
    ul.privacy-list,
    li.privacy-list-item {
        font-size: 22px;
        line-height: 37px  !important;
    }
    p.refs {
        font-size: 17px !important;
        line-height: 23px !important;
    }
}
@media all and (max-width: 767px) {
    h1.hero-h1 {
        font-size: 55px;
        line-height: 60px !important;
        margin-top: 10%;
    }
    h1.hero-h1-alt {
        font-size: 40px;
        line-height: 40px !important;
    }
    h2.h2-heading {
        font-size: 40px;
        line-height: 42px !important;
    }
    h2.h2-heading-icon {
        font-size: 75px;
        line-height: 70px  !important;
    }
    h3.h3-heading {
        font-size: 38px;
        line-height: 40px !important;
    }
    h4.h4-heading {
        font-size: 21px;
        line-height: 36px !important;
    }
    h5.h5-heading {
        font-size: 21px;
        line-height: 36px !important;
    }
    p.es-p {
        font-size: 21px;
        line-height: 36px  !important;
    }
    ul.privacy-list,
    li.privacy-list-item {
        font-size: 21px;
        line-height: 36px  !important;
    }
}

@media all and (max-width: 576px) {
    h1.hero-h1 {
        font-size: 35px;
        line-height: 40px !important;
    }
    h1.hero-h1-alt {
        font-size: 30px;
        line-height: 30px !important;
    }
    h2.h2-heading {
        font-size: 35px;
        line-height: 40px !important;
    }
    h2.h2-heading-alt {
        font-size: 20px;
        line-height: 35px !important;
    }
    h2.h2-heading-icon {
        font-size: 55px;
        line-height: 40px  !important;
    }
    h3.h3-heading {
        font-size: 28px;
        line-height: 35px !important;
    }
    h4.h4-heading {
        font-size: 20px;
        line-height: 30px !important;
    }
    h5.h5-heading {
        font-size: 20px;
        line-height: 30px !important;
    }
    p.es-p {
        font-size: 20px;
        line-height: 30px  !important;
    }
    ul.privacy-list,
    li.privacy-list-item {
        font-size: 20px;
        line-height: 30px  !important;
    }
    p.refs {
        font-size: 15px !important;
        line-height: 21px !important;
    }
}
@media all and (max-width: 480px) {

}
@media all and (max-width: 320px) {

}

/* ******* DISCOVER-ELAINE 2023 FONT STYLES END ******* */