@import "../base/colors";
@import "../base/font";

/* ******* DISCOVER-ELAINE 2023 FOOTER START ******* */

#es-footer {
  height: 172px;
}

#footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .footer-left {
    display: flex;
    width: 65%;
    justify-content: space-between;
    align-items: center;
    .es-links {
      width: 60%;
      margin: -10px 0 0;
      div {
        height: 21px;
      }
    }
    .contact-link {
      width: 100%;
      span:nth-of-type(2),
      span:last-child {
        margin: 0 0 0 20px;
      }
      a {
        display: block;
        font-weight: 600;
        color: $es-gray;
        text-decoration: underline;
      }
    }
  }

  .footer-right {
    display: flex;
    width: 25%;
    justify-content: space-between;
    align-items: center;

    .es-so-link {
      width: 45px;
      height: 32px;

      a {
        display: block;
        width: 100%;
        height: 100%;
        text-align: center;
      }
    }
    .es-so-link:first-child {
      margin: -15px 0 0;
    }

  }
}

@media all and (max-width: 1024px) {
}
@media all and (max-width: 980px) {
}
@media all and (min-width: 768px) and (max-width: 980px) {
  #es-footer {
    height: 272px;
  }
  #footer-container {
    flex-direction: column;
    height: 190px;

    .footer-left {
      width: 100%;
      /*
      .es-logo {
        width: 150px;
      }
      */
      .es-links {
        width: 60%;
        margin: 0;

        div {
          height: 28px;
          text-align: left;
        }
      }

      .contact-link {
        span:last-child {
          margin: 0;
        }
      }
    }

    .footer-right {
      width: 100%;
      justify-content: center;

      .es-so-link {
        margin: 0 20px 0 0;
      }

      .es-so-link:last-child {
        margin: 0;
      }
    }
  }
}
@media all and (max-width: 767px) {
  #es-footer {
    height: 400px;
  }
  #footer-container {
    flex-direction: column;
    height: 310px;
    .footer-left {
      width: 100%;
      flex-direction: column;
      .es-links {
        width: 100%;
        margin: 0;
        div {
          height: 28px;
          text-align: center;
        }
      }
      .contact-link {
        width: 100%;
        span {
          margin: 0 0 0 10px;
        }
        span:last-child {
          margin: 0;
        }
      }
    }

    .footer-right {
      width: 100%;
      justify-content: center;

      .es-so-link {
        margin: 0 20px 0 0;
      }

      .es-so-link:first-child {
        margin: -15px 20px 0 0 !important;
      }

      .es-so-link:last-child {
        margin: 0;
      }
    }
  }
}
@media all and (max-width: 576px) {
}
@media all and (max-width: 480px) {
}
@media all and (max-width: 320px) {
}

/* ******* DISCOVER-ELAINE 2023 FOOTER END ******* */