@import "../base/colors";
@import "../base/font";

/* ******* DISCOVER-ELAINE 2023 FOOTER START ******* */

footer {
    div#es-footer-section {
        div.et_pb_row {
            padding: 28px 0 !important;
        }
    }
}
div#es-footer-section {
  height: 172px;
}
div#footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  div.footer-left {
    display: flex;
    width: 85%;
    justify-content: space-between;
    align-items: center;
    div.es-logo {
        width: 25%;
    }
    div.es-links {
      width: 75%;
      margin: -10px 0 0;
      div {
        height: 21px;
      }
    }
    div.contact-link {
      width: 100%;
      span:nth-of-type(2),
      span:last-child {
        margin: 0 0 0 20px;
      }
      a {
        display: block;
        font-weight: 600;
        color: $es-gray;
        text-decoration: underline;
      }
    }
  }
  div.footer-right {
    display: flex;
    width: 15%;
    min-width: 225px;
    justify-content: space-between;
    align-items: flex-end;
    height: 40px;
    div.es-so-link {
      height: 100%;
      display: flex;
      margin: 0;
      padding: 0;
      align-items: flex-end;
      a {
        display: flex;
      }
    }
    div#social-icon-fb {
        a.exitNotifierLink {
            img {
                width: 20px;
                height: 40px;
            }
        }
    }
    div#social-icon-twitter {
        a.exitNotifierLink {
            img {
                width: 40px;
                height: 38px;
            }
        }
    }
    div#social-icon-linkedin {
        a.exitNotifierLink {
            img {
                width: 38px;
                height: 38px;
            }
        }
    }
    div#social-icon-youtube {
        a.exitNotifierLink {
            img {
                width: 45px;
                height: 31px;
            }
        }
    }
  }
}

@media all and (max-width: 1024px) {
    div#footer-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        div.footer-left {
            display: flex;
            width: 85%;
            justify-content: space-between;
            align-items: center;
            div.es-logo {
                width: 40%;
            }
            div.es-links {
                width: 60%;
                margin: -10px 0 0;
                div {
                    height: 21px;
                }
            }
            div.contact-link {
                width: 100%;
            span:nth-of-type(2),
            span:last-child {
                margin: 0 0 0 20px;
            }
            a {
                display: block;
                font-weight: 600;
                color: $es-gray;
                text-decoration: underline;
            }
            }
        }
        div.footer-right {
            display: flex;
            width: 15%;
            min-width: 225px;
            justify-content: space-between;
            align-items: flex-end;
            height: 40px;
            div.es-so-link {
            height: 100%;
            display: flex;
            margin: 0;
            padding: 0;
            align-items: flex-end;
            a {
                display: flex;
            }
            }
            div#social-icon-fb {
                a.exitNotifierLink {
                    img {
                        width: 20px;
                        height: 40px;
                    }
                }
            }
            div#social-icon-twitter {
                a.exitNotifierLink {
                    img {
                        width: 40px;
                        height: 38px;
                    }
                }
            }
            div#social-icon-linkedin {
                a.exitNotifierLink {
                    img {
                        width: 38px;
                        height: 38px;
                    }
                }
            }
            div#social-icon-youtube {
                a.exitNotifierLink {
                    img {
                        width: 45px;
                        height: 31px;
                    }
                }
            }
        }
    }
}
@media all and (max-width: 980px) {
}
@media all and (min-width: 768px) and (max-width: 980px) {
  div#es-footer-section {
    height: 272px;
  }
  div#footer-container {
    flex-direction: column;
    height: 190px;
    div.footer-left {
      width: 100%;
      div.es-links {
        width: 60%;
        margin: 0;
        div {
          height: 28px;
          text-align: left;
        }
      }
      div.contact-link {
        span:last-child {
          margin: 0;
        }
      }
    }
    div.footer-right {
      width: 100%;
      justify-content: center;
      div.es-so-link {
        margin: 0 20px 0 0;
      }
      div.es-so-link:last-child {
        margin: 0;
      }
    }
  }
}
@media all and (max-width: 767px) {
  div#es-footer-section {
    height: 400px;
  }
  div#footer-container {
    flex-direction: column;
    height: 310px;
    div.footer-left {
      width: 100%;
      flex-direction: column;
      div.es-links {
        width: 100%;
        margin: 0;
        div {
          height: 28px;
          text-align: center;
        }
      }
      div.contact-link {
        width: 100%;
        span {
          margin: 0 0 0 10px;
        }
        span:last-child {
          margin: 0;
        }
      }
    }
    div.footer-right {
      width: 100%;
      justify-content: center;
      div.es-so-link {
        margin: 0 20px 0 0;
      }
      div.es-so-link:first-child {
        margin: -15px 20px 0 0 !important;
      }
      div.es-so-link:last-child {
        margin: 0;
      }
      div#social-icon-fb {
        a.exitNotifierLink {
            img {
                width: 15px;
                height: 35px;
            }
        }
    }
    div#social-icon-twitter {
        a.exitNotifierLink {
            img {
                width: 35px;
                height: 33px;
            }
        }
    }
    div#social-icon-linkedin {
        a.exitNotifierLink {
            img {
                width: 33px;
                height: 33px;
            }
        }
    }
    div#social-icon-youtube {
        a.exitNotifierLink {
            img {
                width: 40px;
                height: 26px;
            }
        }
    }
    }
  }
}
@media all and (max-width: 576px) {
}
@media all and (max-width: 480px) {
}
@media all and (max-width: 320px) {
}

/* ******* DISCOVER-ELAINE 2023 FOOTER END ******* */