@import "../base/colors";
@import "../base/font";

/* ******* DISCOVER-ELAINE 2023 HEADER START ******* */
#top-menu .menu-item-has-children > a:first-child:after,
#et-secondary-nav .menu-item-has-children > a:first-child:after {
    font-size: 24px;
    right: 0;
    top: 32px;
    font-weight: 400;
    height: 65px;
    width: 100%;
    text-align: center;
}
#main-header {
    height: 160px;
    display: flex;
    .container {
        width: 80%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        div.logo_container {
            width: 25%;
            float: unset;
            position: relative;
            span.logo_helper {
                display: block;
            }
            a {
                img#logo {
                    max-height: 125px;
                }
            }
        }
        div#et-top-navigation {
            width: 75%;
            padding: 0 !important;
            float: unset;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            max-width: 1000px;
            nav#top-menu-nav {
                float: unset;
                width: 100%;
                ul#top-menu {
                    float: unset;
                    width: 100%;
                    display: flex;
                    justify-content: space-evenly;
                    li.menu-item {
                        padding: 0 !important;
                        height: 160px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        a {
                            @include regular();
                            font-size: 18px;
                            line-height: 21px;
                            padding: 0 !important;
                            letter-spacing: -0.5px;
                            text-transform: uppercase;
                            text-align: center;
                        }
                        ul.sub-menu {
                            top: 160px;
                            width: 375px;
                            padding: 30px 40px;
                            left: -2%;
                        }
                        li {
                            height: 100%;
                            a {
                                width: 300px;
                                font-size: 17px;
                                line-height: 42px !important;
                                text-transform: uppercase;
                                text-align: left;
                            }
                        }
                    }
                    > li.menu-item:first-child {
                        width: 234px;
                        background-color: $es-blue;
                        a {
                            color: $es-white;
                            font-size: 26px;
                            line-height: 28px;
                            text-align: center;
                            max-width: 200px;
                        }
                    }
                    > li.menu-item:nth-child(4) {
                        ul.sub-menu {
                            width: 325px;
                        }
                    }
                    > li.menu-item:nth-child(5) {
                        ul.sub-menu {
                            width: 200px;
                        }
                    }
                }
            }
        }
    }
}
@media all and (max-width: 1300px) {
    #main-header {
        .container {
            div.logo_container {
                a {
                    img#logo {
                        max-height: 100px;
                    }
                }
            }
            div#et-top-navigation {
                nav#top-menu-nav {
                    ul#top-menu {
                        li.menu-item {
                            padding: 0 !important;
                            height: 160px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            a {
                                @include regular();
                                font-size: 18px;
                                line-height: 21px;
                                padding: 0 !important;
                                letter-spacing: -0.5px;
                                text-transform: uppercase;
                            }
                            ul.sub-menu {
                                top: 160px;
                                width: 375px;
                                padding: 30px 40px;
                                left: -2%;
                            }
                            li {
                                height: 100%;
                                a {
                                    width: 300px;
                                    font-size: 17px;
                                    line-height: 42px !important;
                                    text-transform: uppercase;
                                }
                            }
                        }
                        > li.menu-item:first-child {
                            width: 200px;
                            background-color: $es-blue;
                            a {
                                color: $es-white;
                                font-size: 24px;
                                line-height: 26px;
                                text-align: center;
                                max-width: 180px;
                            }
                        }
                        > li.menu-item:nth-child(4) {
                            ul.sub-menu {
                                width: 325px;
                            }
                        }
                        > li.menu-item:nth-child(5) {
                            ul.sub-menu {
                                width: 200px;
                            }
                        }
                    }
                }
            }
        }
    }
}
@media all and (max-width: 1024px) {
    #main-header {
        height: 160px;
        display: flex;
        .container {
            width: 80%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            div.logo_container {
                width: 25%;
                float: unset;
                position: relative;
                span.logo_helper {
                    display: block;
                }
                a {
                    img#logo {
                        max-height: 100px;
                    }
                }
            }
            div#et-top-navigation {
                width: 75%;
                padding: 0 !important;
                float: unset;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                nav#top-menu-nav {
                    float: unset;
                    width: 100%;
                    ul#top-menu {
                        float: unset;
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        li.menu-item {
                            padding: 0 !important;
                            height: 160px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            a {
                                @include regular();
                                font-size: 18px;
                                line-height: 21px;
                                padding: 0 !important;
                                letter-spacing: -0.5px;
                                text-transform: uppercase;
                            }
                            ul.sub-menu {
                                top: 160px;
                                width: 375px;
                                padding: 30px 40px;
                                left: -2%;
                            }
                            li {
                                height: 100%;
                                a {
                                    width: 300px;
                                    font-size: 17px;
                                    line-height: 42px !important;
                                    text-transform: uppercase;
                                }
                            }
                        }
                        > li.menu-item:first-child {
                            width: 160px;
                            background-color: $es-blue;
                            a {
                                color: $es-white;
                                font-size: 20px;
                                line-height: 22px;
                                text-align: center;
                                max-width: 140px;
                            }
                        }
                        > li.menu-item:nth-child(4) {
                            ul.sub-menu {
                                width: 325px;
                            }
                        }
                        > li.menu-item:nth-child(5) {
                            ul.sub-menu {
                                width: 200px;
                            }
                        }
                    }
                }
            }
        }
    }
}
@media all and (max-width: 980px) {
    #main-header {
    height: 100px;
    display: flex;
        .container {
            width: 80%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            div.logo_container {
                width: 75%;
                float: unset;
                position: relative;
                span.logo_helper {
                    display: block;
                }
                a {
                    img#logo {
                        height: 80px;
                        max-width: 100%;
                    }
                }
            }
            div#et-top-navigation {
                width: 25%;
                padding: 0 !important;
                float: unset;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                nav#top-menu-nav {
                    float: unset;
                    width: 100%;
                    ul#top-menu {
                        display: none;
                    }
                }
                div#et_mobile_nav_menu {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    div.mobile_nav {
                        span.mobile_menu_bar.mobile_menu_bar_toggle {
                            padding-bottom: 0;
                        }
                        span.mobile_menu_bar:before {
                            font-size: 40px;
                        }
                        ul#mobile_menu {
                            position: fixed;
                            left: 0;
                            padding: 0;
                            background: #fff;
                            width: 100%;
                            visibility: visible;
                            opacity: 1;
                            display: none;
                            z-index: 9999;
                            border-top: 3px solid #2ea3f2;
                            box-shadow: 0 2px 5px rgba(0,0,0,.1);
                            -moz-box-shadow: 0 2px 5px rgba(0,0,0,.1);
                            -webkit-box-shadow: 0 2px 5px rgba(0,0,0,.1);
                            top: 100px;
                            bottom: 0;
                            overflow-y: scroll;
                            overflow-x: hidden;
                            li.menu-item {
                                a {
                                    @include demi-bold();
                                    font-size: 16px;
                                    line-height: 22px;
                                    border: none;
                                    text-transform: uppercase;
                                    padding: 10px 8%;
                                    height: 55px;
                                    display: flex;
                                    align-items: center;
                                }
                                ul.sub-menu {
                                    li.menu-item {
                                        padding: 0 5%;
                                        a {
                                            @include regular();
                                            font-size: 14px;
                                            line-height: 16px;
                                            text-transform: uppercase;
                                            height: 38px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@media all and (max-width: 767px) {
}
@media all and (max-width: 576px) {
}
@media all and (max-width: 480px) {
}
@media all and (max-width: 320px) {
}
/* ******* DISCOVER-ELAINE 2023 HEADER END ******* */