@import "../base/colors";
@import "../base/font";

/* ******* DISCOVER-ELAINE 2023 LAYOUT START ******* */

div.hero-section {
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: #6b297d!important;
    div.es-row {
        div.es-col.double {
            h1.hero-h1 {

            }
            p.hero-copy {

            }
        }
        div.es-col.double {

        }
    }
}
span.et_pb_scroll_top.et-pb-icon {
    background: $es-purple-opaque;
    border-radius: 0px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 35px;
    padding: 0;
}
a.es-btn {
    @include regular();
    font-size: 24px;
    line-height: 40px !important;
    height: 60px !important;
    color: $es-white !important;
    border-color: $es-blue !important;
    background-color: $es-blue !important;
    padding: 0 !important;
    border-radius: 0 !important;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
        color: $es-blue !important;
        background-color: $es-white !important;
        border-style: solid;
        border-width: 1px;
        border-color: $es-blue !important;

    }
    &.w-214 {
        width: 214px;
        height: 54px !important;
        margin: 0 auto;
    }
    &.w-226 {
        width: 266px;
        height: 54px !important;
        margin: 0 auto;
    }
    &.w-290 {
        width: 290px;
        height: 54px !important;
    }
    &.w-326 {
        width: 326px;
        height: 54px !important;
    }
    &.w-335 {
        font-size: 20px;
        line-height: 20px !important;
        width: 335px;
        height: 70px !important;
        margin: 0 auto;
    }
    &.w-388 {
        font-size: 20px;
        line-height: 20px !important;
        width: 388px;
        height: 70px !important;
        margin: 0 auto;
    }
    &.w-473 {
        font-size: 16px;
        line-height: 25px !important;
        width: 473px;
        height: 41px !important;
        margin: 0 auto;
    }
    &.w-525 {
        width: 525px;
        margin: 0 auto;
    }
    &.w-640 {
        width: 660px;
        margin: 0 auto;
    }
    &.w-1120 {
        font-size: 32px;
        line-height: 37px;
        width: 1120px;
        margin: 0 auto;
    }
}
.et_pb_button:after,
.et_pb_button:before {
    display: none !important;
}
div.es-row {
    max-width: 1640px;
}
div.es-row.about,
div.es-row.equals {
    max-width: 1220px;
    margin-bottom: 0px !important;
}
div.es-row.recruit {
    max-width: 1494px;
    margin-bottom: 0px !important;
}
div#section-blue-wave {
    margin-top: 5em;
    margin-bottom: 8em;
}
div#et-main-area {
    div#main-content {
        article.page {
            div.entry-content {
                div.et-l {
                    div.et_builder_inner_content {
                        div#ES_hero_section {
                            max-height: 264px;
                            padding: 62px 0 !important;
                        }
                    }
                }
            }
        }
    }
}
div#section-blue-wave {
    content:url('/wp-content/themes/elainestudy/images/blue-wave-1920x189.png');
    width: 100%;
    height: auto;
    margin-top: 1em;
    margin-bottom: 1em;
}
@media all and (max-width: 1024px) {
    div.es-row.about,
    div.es-row.equals {
        max-width: 820px;
        margin-bottom: 0px !important;
    }
    div.es-row.recruit {
    max-width: 820px;
    margin-bottom: 0px !important;
}
}
@media all and (max-width: 980px) {
    a.es-btn {
        @include regular();
        font-size: 23px;
        line-height: 38px !important;
        height: 60px !important;
        color: $es-white !important;
        border-color: $es-blue !important;
        background-color: $es-blue !important;
        padding: 0 !important;
        border-radius: 0 !important;
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover {
            color: $es-blue !important;
            background-color: $es-white !important;
            border-style: solid;
            border-width: 1px;
            border-color: $es-blue !important;

        }
        &.w-214 {
            width: 100%;
            margin: 0 auto;
        }
        &.w-290 {
            width: 100%;
            margin: 0 auto;
        }
        &.w-335 {
            width: 100%;
            margin: 0 auto;
            max-width: 335px;
        }
        &.w-525 {
            width: 100%;
            margin: 0 auto;
        }
        &.w-640 {
            width: 100%;
            margin: 0 auto;
        }
    }
    div.es-row.about,
    div.es-row.equals {
        max-width: 784px;
        margin-bottom: 0px !important;
    }
    div.es-row.recruit {
        max-width: 794px;
        margin-bottom: 0px !important;
    }
}
@media all and (max-width: 767px) {
    div.es-row.about,
    div.es-row.equals {
        max-width: 612px;
        margin-bottom: 0px !important;
    }
    div.es-row.recruit {
        max-width: 612px;
        margin-bottom: 0px !important;
    }
    a.es-btn {
        @include regular();
        font-size: 22px;
        line-height: 28px !important;
        height: 78px !important;
        color: $es-white !important;
        border-color: $es-blue !important;
        background-color: $es-blue !important;
        padding: 0 !important;
        border-radius: 0 !important;
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover {
            color: $es-blue !important;
            background-color: $es-white !important;
            border-style: solid;
            border-width: 1px;
            border-color: $es-blue !important;

        }
    }
    div#section-blue-wave {
        content:url('/wp-content/themes/elainestudy/images/blue-wave-576x110.png');
    }
}
@media all and (max-width: 576px) {
    a.es-btn {
        @include regular();
        font-size: 18px;
        line-height: 24px !important;
        height: 78px !important;
        color: $es-white !important;
        border-color: $es-blue !important;
        background-color: $es-blue !important;
        padding: 0 !important;
        border-radius: 0 !important;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 60px!important;
        padding-right: 60px!important;
        &:hover {
            color: $es-blue !important;
            background-color: $es-white !important;
            border-style: solid;
            border-width: 1px;
            border-color: $es-blue !important;

        }
    }
}
@media all and (max-width: 480px) {
}
@media all and (max-width: 320px) {
}

/* ******* DISCOVER-ELAINE 2023 LAYOUT END ******* */